@import "tailwindcss";
@import "tw-animate-css";



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*Dont remove! This makes the horisontal scrollbar for the songs to disapear and not be visible*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/*Same with this*/
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}