@import "tailwindcss";
@import "tw-animate-css";


#root {
  margin: 0;
  padding: 2rem;
  text-align: left;
  width: 100%;
}

body {
  margin-left: 3rem;
  background: #121415;
}

/*Dont remove! This makes the horisontal scrollbar for the songs to disapear and not be visible*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/*Same with this*/
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}